@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    <p>Number of tweets: @ViewData["number"]</p>
    @Html.Raw(ViewData["tweetbodys"])
    <br/>
    <p>
    @ViewData["feed"]
    </p>
</div>